
body {
  font-family: sans-serif;
  margin: 0;
  background-color: #000;
  color: #fff;
}
#navbar {
  background-color: #111;
  padding: 10px;
}
#navbar a {
  color: #eee;
  margin-right: 10px;
  text-decoration: none;
}
#navbar a:hover {
  text-decoration: underline;
}
